@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Spartan:wght@300&display=swap");
.subtitulos {
    font-family: 'Spartan', sans-serif;
    color: black;
    margin: 1rem;
}

.envios {
    margin: 8px;
}

.pagos {
    margin: 8px;
}

@media (max-width: 768px) {
    .pagos {
        margin-bottom: 2rem;
    }
}

@media (min-width: 768px) {
    .pagos-amex {
        margin-bottom: 2rem;
    }
    .pagos-paypal {
        margin-bottom: 2rem;
    }
}

@media (min-width: 425px) {
    .pagos-paypal {
        margin-bottom: 2rem;
    }
}

.navbar {
    font-family: 'Spartan', sans-serif;
    margin: 0 !important;
    background-color: #EAE7dc !important;
}

.navbar__logo {
    height: 80px;
    width: auto;
}

.nav-link {
    color: #E85A4F !important;
    font-size: 1.2rem;
}

.slide img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center center;
}

.contenedor__card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-between;
}

.card {
    backdrop-filter: blur(15px) saturate(105%);
    -webkit-backdrop-filter: blur(15px) saturate(105%);
    background-color: rgba(245, 245, 245, 0.6);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin: 20px;
    width: 18rem;
}

.card-inferior {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-btn {
    border: none;
    border-radius: 0.5rem;
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #E98074;
    background: transparent;
    cursor: pointer !important;
    transition: ease-out 0.5s;
    box-shadow: inset 0 0 0 0 #E98074;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.card-btn:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #E98074;
}

.card-btn:active {
    transform: scale(0.9);
}

.card-title {
    text-align: center;
    color: #E85A4F;
}

.card-text {
    font-family: 'Spartan', sans-serif;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
}

.card-text:hover {
    cursor: default;
    display: block;
}

.card-select {
    width: 6rem;
}

.precio-anterior {
    text-decoration: line-through;
    color: gray;
}

.precio-actual {
    font-weight: bold;
}

main h1 {
    padding-top: 2rem;
    font-family: 'Spartan', sans-serif;
    color: #E85A4F;
}

main {
    background-color: #EAE7dc;
}

h2 {
    padding-top: 2rem;
    font-family: 'Spartan', sans-serif;
    color: #E85A4F;
}

.footer {
    font-family: 'Spartan', sans-serif;
    background-color: #E98074;
}

.footer-titulo {
    font-size: 1rem;
    text-align: center;
}

.footer__logo {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 80px;
    width: auto;
}

.footer__redes {
    text-decoration: none;
    color: white;
}

.footer__redes:hover {
    color: white;
}

.footer-list {
    list-style: none;
}

.footer-list-a {
    color: white;
    text-decoration: none !important;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.footer-list-a:hover {
    color: white;
}

.footer-tel,
.footer-direccion {
    text-align: center;
}

.logo-meta,
.logo-twitter,
.logo-instagram,
.logo-gmail,
.footer-telefono,
.footer-ubicacion {
    margin-right: 10px;
    margin-bottom: 2px;
}

.footer-telefono {
    margin-bottom: 0;
}

.footer-ubicacion {
    margin-bottom: 0;
}

@media (max-width: 425px) {
    .logo-meta,
    .logo-twitter,
    .logo-instagram,
    .logo-gmail,
    .footer-telefono,
    .footer-ubicacion {
        margin-right: 5px;
        margin-bottom: 2px;
    }
    .logo-twitter {
        margin-right: 5px;
        margin-bottom: 2px;
    }
    .logo-instagram {
        margin-right: 5px;
        margin-bottom: 2px;
    }
    .logo-gmail {
        margin-right: 5px;
        margin-bottom: 2px;
    }
}

.historia {
    margin-bottom: 0;
}

.historia__seccion {
    display: flex;
    justify-items: center;
    align-items: center;
}

.historia-linea {
    color: #E85A4F;
    height: 2.5px;
}

.texto--historia,
.texto--ubicacion {
    margin: 2rem auto;
    color: black;
    text-align: center;
    padding: 1rem;
    font-family: 'Spartan', sans-serif;
}

.video,
.mapa {
    margin: 2rem auto;
    padding: 1rem;
    object-position: center;
    object-fit: cover;
    height: 400px;
    width: 100%;
}

@media (max-width: 768px) {
    .video,
    .mapa {
        margin: 0;
        padding: 0;
    }
    .mapa {
        display: flex;
        padding: 0 !important;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        margin: 0;
    }
}

@media (max-width: 600px) {
    .historia__seccion {
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
    }
    .mapa-iframe {
        width: 100%;
        height: 200px;
    }
}

.formulario {
    margin-top: 15vh;
    min-height: 100vh;
}

.formulario-text {
    font-family: 'Spartan', sans-serif;
    color: black;
}

.formulario-btn {
    height: 100%;
}


/*# sourceMappingURL=main.css.map */