/* Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100%;
}


/* menu de navegacion*/

.menu {
    display: flex;
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 black;
    padding: 0 30px;
    box-sizing: border-box;
    align-items: center;
    background-color: white;
    z-index: 1;
}

.logoMenu {
    display: none;
}

.menuListaMovil {
    display: none;
}

input {
    display: none;
}

.menu__logo {
    height: 80px;
    width: auto;
}

.menu__lista {
    display: flex;
    list-style: none;
    margin-right: 20px;
    padding: 0;
}

.item__enlace:hover {
    color: #ff005b;
}

.item__enlace:activ {
    color: #ff005b;
}

.item__enlace {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.sublista {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu__item {
    margin-left: 26px;
    list-style: none;
}

main {
    background-color: aliceblue;
}

.baner {
    background: url("../img/baner.jpg");
    width: 100%;
    height: 630px;
    object-fit: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.baner2 {
    background: url("../img/baner2.jpg");
    width: 100%;
    height: 630px;
    object-fit: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.baner3 {
    background: url("../img/baner3.jpg");
    width: 100%;
    height: 630px;
    object-fit: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.baner__contenedor {
    position: relative;
    left: 30px;
}

.baner__titulo {
    color: #fff;
    text-shadow: 0 0 5px #ff005b, 0 0 15px #ff005b, 0 0 30px #ff005b, 0 0 50px #ff005b;
    font-size: 2.5rem;
    font-weight: 300;
    animation: parpadear 1.5s infinite backwards steps(2);
}

@keyframes parpadear {
    to {
        color: grey;
        text-shadow: none;
    }
}

.historia {
    display: flex;
    align-items: center;
    background-color: aliceblue;
    padding: 60px 40px;
    gap: 40px;
}

.historia__contenedor {
    flex-basis: 50%;
}

.historia__parrafo {
    text-align: center;
    line-height: 1.8;
    font-size: 1rem;
}

.historia__contenedor--texto {
    align-self: center;
}

.oferta__parrafo {
    text-align: center;
}

.oferta__titulo {
    text-align: center;
    color: #0c98ea;
    font-weight: bold;
    font-size: 1.8rem;
}

.oferta__contenedor {
    display: flex;
    padding: 0 200px 0 200px;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly
}

.oferta__card {
    background-color: #fff;
    transition: all 400ms ease;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    margin: 40px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.oferta__card h3 {
    margin-bottom: 15px;
}

.oferta__card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.oferta__img {
    width: 100%;
    object-fit: cover;
    margin: auto;
}

.oferta__btn {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #441fd8;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    box-shadow: inset 0 0 0 0 #441fd8;
}

.oferta__btn:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #441fd8;
}

.oferta__btn:active {
    transform: scale(0.9);
}

.footer {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: black;
}

.footer__contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer__contenedor p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.footer__contenedor h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.link {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.link li {
    margin: 10px;
}

.link a:hover {
    color: #ff005b;
}

.link a:active {
    color: #ff005b;
}

.link a {
    text-decoration: none;
    color: #fff;
}


/*Bebidas Grid*/

.grid__bebidas {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 20% auto 15%;
    grid-template-areas: "header header header " "servicios servicios servicios" "footer footer footer";
    height: 100vh;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

.header__bebidas {
    grid-area: header;
}

.footer__bebidas {
    grid-area: footer;
}

#servicios__bebidas {
    grid-area: servicios;
}

.bebidas {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 286px;
    grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
    overflow: hidden;
    justify-items: center
}


/*OTROS GRID*/

.grid__otros {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 20% auto 15%;
    grid-template-areas: "header header header " "servicios servicios servicios" "footer footer footer";
    height: 100vh;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

.header__otros {
    grid-area: header;
}

.footer__otros {
    grid-area: footer;
}

#servicios__otros {
    grid-area: servicios;
}

.otros {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 286px;
    grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
    overflow: hidden;
    justify-items: center
}

.titulo__otros {
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #441fd8;
}


/*CONTACTO GRID*/

.grid__contacto {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 20% auto 15%;
    grid-template-areas: "header header header " "servicios servicios servicios" "footer footer footer";
    height: 100vh;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

.border {
    border: 1px solid black;
}

.header__contacto {
    grid-area: header;
}

.footer__contacto {
    grid-area: footer;
}

#servicios__contacto {
    grid-area: servicios;
}

.contacto {
    display: grid;
    gap: 1rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
    overflow: hidden;
    justify-items: center
}

.contacto__formulario {
    display: flex;
    width: 100%;
    justify-items: center;
    justify-content: center;
}

.contacto__formulario form {
    display: flex;
    flex-flow: column;
    width: 40%;
    height: 80%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

input,
textarea {
    border: none;
    resize: none;
    outline: none;
    padding: 15px 0px;
    width: 80%;
    margin: 20px;
    border-bottom: 1px solid black;
}


/* Nosotros GRID*/

.grid__nosotros {
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-columns: 20% auto 15%;
    grid-template-areas: "header header header " "servicios servicios servicios" "producto producto producto " "footer footer footer";
    height: 100vh;
    /* grid-column-gap: 10px;
    grid-row-gap: 15px;*/
}

.border__nosotros {
    border: 1px solid black;
}

.header__nosotros {
    grid-area: header;
}

.footer__nosotros {
    grid-area: footer;
}

#productos__nosotros {
    grid-area: producto;
}

#servicios__nosotros {
    grid-area: servicios;
}


/* Media Queries - Responsive - Estilos Moviles */

@media screen and (max-width: 768px) {
    * {
        font-size: 1.0rem;
    }
    .item__enlace {
        font-size: 1.2rem;
    }
    .menu {
        position: relative;
    }
    .menu__lista {
        display: none;
    }
    .logoMenu {
        display: flex;
        width: 20px;
        height: 20px;
    }
    .menuListaMovil {
        position: absolute;
    }
    input {
        display: none;
    }
    input:checked~.menuListaMovil {
        display: flex;
        background: white;
        width: 200px;
        flex-direction: column;
        right: 0px;
        top: 60px;
        text-align: center;
        overflow: hidden;
    }
    .oferta__contenedor {
        padding: 0 20px 0 20px;
    }
    .baner {
        height: 315px;
    }
    .baner__contenedor {
        left: 30px;
        right: 30px;
    }
    .baner__titulo {
        font-size: 1.2rem;
    }
}

@media screen and (man-width: 320px) {
    .baner {
        width: 300px;
    }
}

@media screen and (min-width: 768px) {}