.footer {
    background-color: #293866;
    &__logo {
        padding-top: 10px;
        padding-bottom: 10px;
        height: 80px;
        width: auto;
    }
    &__redes {
        text-decoration: none;
        color: white;
    }
    &__redes:hover {
        color: white;
    }
}