main h1 {
    padding-top: 2rem;
    font-family: 'Spartan', sans-serif;
    color: $color-titulo;
}

main {
    background-color: $color-fondo;
}

h2 {
    padding-top: 2rem;
    font-family: 'Spartan', sans-serif;
    color: $color-titulo;
}