.historia {
    margin-bottom: 0;
    &__seccion {
        display: flex;
        justify-items: center;
        align-items: center;
    }
}

.texto--historia {
    margin: 2rem auto;
    color: map-get($map: $estilos, $key: color);
    text-align: map-get($map: $estilos, $key: centro);
    padding: map-get($map: $estilos, $key: 1rem);
    font-size: map-get($map: $estilos, $key: textoFuene);
}

.texto--ubicacion {
    @extend .texto--historia;
}

.video {
    margin: 2rem auto;
    padding: map-get($map: $estilos, $key: 1rem);
    object-position: map-get($map: $contenedor, $key: ob-posi);
    object-fit: map-get($map: $contenedor, $key: ob-fit);
    @include sizes(100%, 400px);
}

.mapa {
    @extend .video;
}

@media (max-width: 768px) {
    .mapa {
        overflow: overlay;
    }
}

@media (max-width: 600px) {
    .historia__seccion {
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
    }
    .mapa-iframe {
        width: 100%;
        height: 200px;
    }
}