.navbar {
    margin: 0!important;
    background-color: $color-fondo !important;
    &__logo {
        height: 80px;
        width: auto;
    }
}

.nav-link {
    color: $color-titulo!important;
    font-size: 1.2rem;
}